@model IEnumerable<MVC_Demo.Category>
@{
    ViewBag.Title = "Categories";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" />
<h1>Sacred Knowledge Library</h1>

@if (Session["UserName"] != null)
{
    <h2><text>Welcomes @Session["UserName"].ToString() to Category List </text></h2>
}

@using (Html.BeginForm("Logout", "Login"))
{
    <input type="submit" value="Logout" />
}



@using (Html.BeginForm("Search", "Category", FormMethod.Post, new { @class = "Search-form" }))
{
    <div id="txtBox">
        @Html.Label("Search Category ")
        <input type="text" name="q" />
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message.ToString();
        }
    </div>
    <div id="radioList">
        @Html.RadioButton("SearchType", "0")
        @Html.Label("ID")
        @Html.RadioButton("SearchType", "1", true)
        @Html.Label("Category Name")

    </div>
    <div id="btnSearch">
        <input type="submit" value="Search" id="btnSubmit" />
    </div>
}


<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 3, defaultSort: "CategoryId");
        if (Model.Count() > 0)
        {
            <div><strong> @ViewBag.SearchParameter</strong> | @grid.TotalRowCount @Html.Label("Record(s) found")</div>
            @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
            grid.Column("CategoryId", "Category ID"),
            grid.Column("CategoryName", "Category Name")));
        }
        else
        {
            <hr />@Html.Label("No, Record(s) not found")<hr />
        }
    }
</div>

@using (Html.BeginForm("Create", "Category", FormMethod.Get))
{
    <input type="submit" value="Add " />
}


