@model IEnumerable<MVC_Demo.BOOK>
@{
    ViewBag.Title = "Books";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" />
<h1>Sacred Knowledge Library Book List</h1>

@using (Html.BeginForm("Create", "Book", FormMethod.Get))
{
    <div style="float:right;">
    <input type="submit" value="Add Book" />
    </div>
}

@using (Html.BeginForm("Search", "Book", FormMethod.Post, new { @class = "Search-form" }))
{
    <div>
        @Html.RadioButton("SearchType", "0")
        @Html.Label("ID")
        @Html.RadioButton("SearchType", "1", true)
        @Html.Label("Title/Category")

        <input type="text" name="q" placeholder="Search Books" />
        <input type="submit" value="Search" id="btnSubmit" />
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message.ToString();
        }
    </div>
}


<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5, defaultSort: "BOOK_ID");
        if (Model.Count() > 0)
        {

            @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
            grid.Column("BOOK_ID", "Book ID"),
            grid.Column("BOOK_NAME", "Book Title"),
            grid.Column("CATEGORY", "Category"),
            grid.Column("STATUS", "Status"),
            grid.Column("", header: "Action", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.BOOK_ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.BOOK_ID })</text>)));
            <div><strong> @ViewBag.SearchParameter</strong> | @grid.TotalRowCount @Html.Label("Record(s) found")</div>

        }
        else
        {
            <hr />@Html.Label("No Record Found")<hr />
        }
    }
</div>


